/* Corps de l'application */
body {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  padding-top: 50px;
}

/* Header */
.main-header {
  background-color: #1a237e !important;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-header .logo {
  background-color: #1f2d7a !important;
  color: #ffffff !important;
  font-size: 14px;
}

.main-header .navbar {
  background-color: #1f2d7a !important; /* Couleur navbar */
  color: #ffffff !important;
}

/* Sidebar */

.main-sidebar {
  background-color: #1f2d7a !important; /* Couleur navbar */
  position: fixed;
}

.sidebar-menu > li > a {
  color: #ecf0f1 !important; /* Texte blanc */
}

.sidebar-menu > li.active > a, 
.sidebar-menu > li > a:hover {
  background-color: #d3d3d3 !important;
  color: #000000 !important;
  font-weight: bold;
}

.sidebar-menu .treeview-menu > li > a {
  color: #ecf0f1 !important;
}

.sidebar-menu .treeview-menu > li.active > a,
.sidebar-menu .treeview-menu > li > a:hover {
  background-color: #d3d3d3 !important;
  color: #ffffff !important;
}

/* Boîtes */
.box {
  background-color: #d3d3d3 !important;
  border: 1px solid #1f2d7a;
  color: #ecf0f1;
}

.box-header {
  background: #1f2d7a !important;
  color: #ffffff !important;
}

.box-title {
  font-weight: bold;
}

.box-body {
  background-color: #d3d3d3; /* Bleu très foncé */
  color: #000000;
}

/* Boutons */
.btn {
  background-color:#1a237e;
  border-color:#d3d3d3;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 100px;
}

.btn:hover {
  background-color:  #d3d3d3 !important;
  border-color: #1a237e !important;
  color: #1a237e !important;
}

/* Tableaux */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  background-color: #d3d3d3;
}

th {
  background-color: #1a237e;
  color: #ffffff;
  text-align: left;
  padding: 8px;
}

td {
  padding: 8px;
  border: 1px solid #1a237e ;
  color:#000000;
}

tr:nth-child(even) {
  background-color: #1a237e;
}

/* Notifications */
.shiny-notification {
  background-color: #d3d3d3;
  border-left: 5px solid #1a237e;
  color: #ffffff;
}

/* Graphiques */
.plot-output {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}

/* Animations */
.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.fade-in {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Barre de chargement */
.progress-bar {
  background-color: #009933 !important;
}

.shiny-notification {
  background-color: #d4edda; /* Vert clair */
  border-left: 5px solid #28a745; /* Bordure verte */
  color: #155724; /* Texte vert foncé */
}
